.sales-analytics
    h2 Sales Analytics
    .item.online
      .icon
        span.material-icons-sharp shopping_cart
      .right
        .info
          h3 ONLINE ORDERS
          small.text-muted Last 24 hours
        h5.success +39%
        h3 3778
    .item.offline
      .icon
        span.material-icons-sharp local_mall
      .right
        .info
          h3 OFFLINE ORDERS
          small.text-muted Last 24 hours
        h5.danger -13%
        h3 2008
    .item.customers
      .icon
        span.material-icons-sharp person
      .right
        .info
          h3 NEW CUSTOMERS
          small.text-muted Last 24 hours
        h5.success +29%
        h3 1993
    .item.add-product
      div
        span.material-icons-sharp add
        h3 Add Product