script(src="assets/js/plugins/jquery.min.js")
script(src="assets/js/plugins/bootstrap.bundle.min.js")
script(src="assets/js/plugins/datatable/jquery.dataTables.min.js")
script(src="assets/js/plugins/datatable/dataTables.bootstrap4.min.js")  
script(src="assets/js/plugins/datatable/dataTables.responsive.min.js")
script(src="assets/js/plugins/datatable/responsive.bootstrap4.min.js")
script(src="assets/js/plugins/datatable/dataTables.buttons.min.js")
script(src="assets/js/plugins/datatable/buttons.bootstrap4.min.js")
script(src="assets/js/plugins/datatable/jszip.min.js")
script(src="assets/js/plugins/datatable/pdfmake.min.js")
script(src="assets/js/plugins/datatable/vfs_fonts.js")
script(src="assets/js/plugins/datatable/buttons.html5.js")
script(src="assets/js/plugins/datatable/buttons.print.min.js")
script(src="assets/js/plugins/adminlte.min.js")
script(src="assets/js/plugins/sweetalert/sweetalert2.min.js")
script(src="assets/js/plugins/sweetalert/alert.js")
script(src="assets/js/plugins/datatable/special.js")