meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel='stylesheet' href='assets/css/plugins/fontawesome.min.css')
link(rel="stylesheet", href="assets/css/plugins/datatable/dataTables.bootstrap4.min.css")
link(rel="stylesheet", href="assets/css/plugins/datatable/responsive.bootstrap4.min.css")
link(rel="stylesheet", href="assets/css/plugins/datatable/buttons.bootstrap4.min.css")
link(rel="stylesheet", href="assets/css/plugins/adminlte.min.css")
link(rel="stylesheet", href="assets/css/plugins/alert/sweetalert2.min.css")
link(rel="stylesheet", href="assets/css/plugins/animate/animate.min.css")