body.hold-transition.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed
  .preloader.flex-column.justify-content-center.align-items-center
    img.animation__wobble(src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60")
  nav.main-header.navbar.navbar-expand.navbar-dark
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget="pushmenu" href="#" role="button")
          i.fas.fa-bars
    ul.navbar-nav.ml-auto
      li.nav-item 
        a.nav-link(data-widget="fullscreen" href="#" role="button")
          i.fas.fa-expand-arrows-alt
      li.nav-item
        a.nav-link(data-widget="control-sidebar" data-slide="true" href="#" role="button")
          i.fas.fa-th-large
  aside.main-sidebar.sidebar-dark-primary.elevation-4
    a.brand-link(href="index.pug")
      img.brand-image.img-circle.elevation-3(src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" style="opacity: .8")
      span.brand-text.font-weight-light SUSatış
    .sidebar
      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
          li.nav-item.menu-open
            a.nav-link.active(href="yeni-satis.pug")
              i.nav-icon.fas.fa-tachometer-alt
              p Yeni Satış Yap
          li.nav-item
            a.nav-link(href="satislar.pug")
              i.nav-icon.fas.fa-search-dollar
              p Satışları Gör
          li.nav-item
            a.nav-link(href="#")
              i.nav-icon.fas.fa-box
              p
                span Ürünler
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item.ml-3
                a.nav-link(href="urunler.pug")
                  i.fa.fa-eye.nav-icon
                  p Ürünleri Gör
              li.nav-item.ml-3
                a.nav-link(href="urun-ekle.pug")
                  i.fa.fa-plus.nav-icon
                  p Ürün Ekle
          li.nav-item
            a.nav-link(href="#")
              i.nav-icon.fas.fa-list
              p
                span Ürün Kategorileri
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item.ml-3
                a.nav-link(href="kategoriler.pug")
                  i.fa.fa-eye.nav-icon
                  p Kategorileri Gör
              li.nav-item.ml-3
                a.nav-link(href="kategori-ekle.pug")
                  i.fa.fa-plus.nav-icon
                  p Kategori Ekle
          li.nav-item
            a.nav-link(href="#")
              i.nav-icon.fas.fa-users
              p
                span Kullanıcılar
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item.ml-3
                a.nav-link(href="kullanicilar.pug")
                  i.fa.fa-eye.nav-icon
                  p Kullanıcıları Gör
              li.nav-item.ml-3
                a.nav-link(href="kullanici-ekle")
                  i.fa.fa-plus.nav-icon
                  p Kullanici Ekle
          li.nav-item
            a.nav-link(href="ayarlar.pug")
              i.nav-icon.fas.fa-cog
              p Ayarlar
          li.nav-item
            a.nav-link(href="cikis.pug")
              i.nav-icon.fa.fa-sign-out-alt
              p Çıkış Yap