doctype html
head
  include contents/head.pug
body
  .wrapper
    include contents/menu.pug
    .content-wrapper(style="margin-top:65px")
      section.content
        .container-fluid
          .row
            .col-12
              .card
                .card-header
                  h3.card-title Kategoriler
                .card-body
                  table#kategoriler.table.table-bordered.table-striped
                    thead
                      tr
                        th Kategori ID
                        th Kategori Adı
                        th İşlemler
                    tbody
                    tfoot
                      tr
                        th Kategori ID
                        th Kategori Adı
                        th İşlemler
  include contents/footer.pug
  script(src="assets/js/Pages/kategoriler.js")