head
  include contents/head.pug
body
  .wrapper
    include contents/menu.pug
    .content-wrapper(style="margin-top:65px")
      section.content
        .container-fluid
          .row
            .col-12
                .card
                    form
                        .card-body
                            .form-group
                                label(for="kullaniciAdi") Kullanıcı Adı
                                input.form-control#kullaniciAdi(type="text" placeholder="Kullanıcı Adınızı Yazınız")
                            .form-group
                                label(for="adSoyad") Ad Soyad
                                input.form-control#adSoyad(type="text" placeholder="Ad Soyadı Yazınız")
                            .form-group
                                label(for="email") Email
                                input.form-control#email(type="email" placeholder="Emaili Yazınız")
                            .form-group
                                label(for="sifre") Şifre
                                input.form-control#sifre(type="password" placeholder="Şifreyi Yazınız")
                            .form-group.justify-content-end
                                button.btn.btn-success#kaydet(type="submit") Kaydet
    include contents/footer.pug
    script(src="assets/js/Pages/kullanici-duzenle.js")