doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    include contents/head.pug
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .wrapper
      include contents/menu.pug
      .content-wrapper(style="margin-top:65px")
        section.content
          .container-fluid
            .row
              .col-12
                .card
                  .card-header
                    h3.card-title Kullanıcılar
                  .card-body
                    table#kullanicilar.table.table-bordered.table-striped
                      thead
                        tr
                          th Kullanıcı ID
                          th Ad Soyad
                          th Kullanıcı Adı
                          th Email
                          th İşlemler
                      tbody
                      tfoot
                        tr
                          th Kullanıcı ID
                          th Ad Soyad
                          th Kullanıcı Adı
                          th Email
                          th İşlemler
    include contents/footer.pug
    script(src="assets/js/Pages/kullanicilar.js")