doctype html
head
  include contents/head.pug
body
  .wrapper
    include contents/menu.pug
    .content-wrapper(style="margin-top:65px")
      section.content
        .container-fluid
          .row
            .col-12
              .card
                .card-header
                  h3.card-title Ürünler
                .card-body
                  table#urunler.table.table-bordered.table-striped
                    thead
                      tr
                        th Ürün ID
                        th Ürün Adı
                        th Ürün Kategorisi
                        th Ürün Fiyatı
                        th Stok Sayısı
                        th İşlemler
                    tbody
                    tfoot
                      tr
                        th Ürün ID
                        th Ürün Adı
                        th Ürün Kategorisi
                        th Ürün Fiyatı
                        th Stok Sayısı
                        th İşlemler
  include contents/footer.pug
  script(src="assets/js/Pages/urunler.js")